<h1>Welcome to langex</h1>
<h2>Language Extension</h2>
<p>
  LangEx is a Chrome (and derivatives like Edge) Extension to help you extend
  your reading comprehension in any language.
</p>
<br />
<p>The main goal of this extension is to do two things:</p>
<ol>
  <li>
    Allow right-clicking on any word or selection to provide quick access to
    definitions and pronunciations from API providers, language websites, and
    even text to speech synthesis APIs.
  </li>
  <li>
    If enabled and the page is detected as a language you are studying, every
    word of that language will be shaded with a color/transparency highlight
    indicating your knowledge level of that word from unidentifiable to
    mastered. Right clicking the word will also let you set your mastery level.
  </li>
</ol>
